/* --- GLOBAL RESET --- */

* {
    box-sizing: border-box;
}

/* --- BASE ELEMENT STYLES --- */

body {
    margin: 0;
    padding: 0;
}

h1, 
h2, 
p, 
figure,
figcaption,
blockquote {
    margin: 0;
}

a {

}

a:hover {

}

a:visited {

}

.signup-btn {

}

/* --- LAYOUT LANDMARKS --- */

header {

}

.logo {

}

nav ul {
    list-style: none;
    padding: 0em;
    margin: 0em;
}

main {

}

footer {

}

.container {

}

/* ---------- SECTION : HERO ---------- */
.hero-section {

}



/* ---------- SECTION : SALES ---------- */
.sales-info-section {

}


/* ---------- SECTION : TESTIMONIAL ---------- */
.testimonial-section {

}

/* ---------- SECTION : CTA ---------- */
.cta-section {

}




