/* --- GLOBAL RESET --- */

* {
    box-sizing: border-box;
}

/* --- BASE ELEMENT STYLES --- */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

h1, 
h2, 
h3, 
p, 
figure,
figcaption,
blockquote {
    margin: 0;
}

h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 3rem; /* Departed from style spec to keep responsive */
}

h2 {
    margin-bottom: 1.5em;
    font-size: 2rem; /* Departed from style spec to keep responsive */
    color: #1F2937;
    font-weight: 900;
}

h3 {
    margin-bottom: 0.1em;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

button {
    color: #F9FAF8;
    font-size: 1em;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 0.6em 2.5em;
}

/* --- LAYOUT LANDMARKS --- */
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    list-style: none;
    padding: 0em;
    margin: 0em;
}

header .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em; /* Overrides .container */
}

header .container a {
    color: #F9FAF8;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

footer {
    margin-top: auto;
    padding: 2em; /* Overrides .container */
    color: #F9FAF8;
    font-size: 0.9em;
}

.container {
    padding: 4em 1em;
    margin: 0 auto;
    align-items: stretch;
}

.container,
.cta-container {
    max-width: 1000px;
}


.flex-group-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 0em;
}

.flex-group-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1em;
}

/* ---------- SECTION : GROUP STYLES ---------- */
header,
.hero-section,
footer {
    background-color: #1F2937;
}

.testimonial-section {
    background-color: #E5E7EB;
}

.cta-section .cta-container {
    background-color: #3882F6;
}

header a:hover, 
.hero-section a:hover {
    color: #3882F6;
}

/* ---------- SECTION : HERO ---------- */

.hero-section,
.hero-section a {
    color: #F9FAF8;
}

.hero-section .hero-card {
    align-self: flex-start;
    flex: 1;
    gap: 1em;
    min-width: 0;
    }

.hero-card h1 {
    margin-right: auto; /* Override centering from .container */
}

.hero-card img {
    height: 100%;
    width: 100%;
}

.hero-section figcaption {
    padding-top: 0.3em;
}

.signup-btn {
    margin-right: auto;
    border-style: none;
}

.hero-card p {
    font-size: 18px;
    color: #E5E7EB;
}

/* ---------- SECTION : SALES ---------- */

.sales-card-container {
    flex-wrap: wrap;
}

.sales-card {
    text-align: center;
    padding: 1em 0;
    flex: 1;
}

.image-placeholder {
    text-align: center;
    font-size: 3em;
    max-width: 200px;
    max-height: 200px;
    border: 2.5px solid #3882F6;
    border-radius: 12px;
}

.image-placeholder p { /* change size of border around placeholders */
    padding: 0.4em;
}

.sales-text {
    padding-top: 0.6em;
}

/* ---------- SECTION : TESTIMONIAL ---------- */

.testimonial-section blockquote {
    padding: 1em 3em;
    color: #1F2937;
    font-size: 26px; /* Departs from style spec for visual balance */
    font-weight: 300;
}

.testimonial-section figcaption {
    text-align: end;
    font-weight: 500;
}

/* ---------- SECTION : CTA ---------- */

.cta-section {
    margin: 4em 0;
}

.cta-card {
    align-items: flex-start;
    flex:1;
    color: #F9FAF8;
}

.cta-section .signup-btn {
    height: 100%;
    margin-top: auto;
    border: 2.5px solid #F9FAF8;

}

.cta-section .cta-container {
    border-radius: 10px;
    margin: 3em auto 3em auto;
    padding: 2em;
}